.page 
{
	margin-top:5px;
	margin-bottom:5px;
	font-size: 14px;
}

.page a{
	color:#222;
	border:solid 1px #ccc;
	padding-left:5px;
	padding-right:5px;
	height:25px;
	line-height:25px;
	text-decoration:none;
	display:inline-block;
	margin-right:3px;
}
.page a:hover{
	text-decoration:none;
	color:#F00;
	border:solid 1px #F00;
}
