<!--{template "home_header"}-->

		<div class="mainSider">
        <div class="mainInner">
            <div class="my">
            	<span class="myImg">
                	<a href="#"><img src="images/nopic.jpg" width="80" border="0" /></a>
                </span>
                <span class="myInfo">
                	<dl>
                    	<dt>刘付灵</dt>
                        <dd><b>好友</b>：2200</dd>
                        <dd><b>等级</b>：寻你</dd>
                        <dd><b>恋爱</b>：我在静静等待</dd>
                    </dl>
                </span>
                <div class="clear"></div>
                <div class="detail">
                	<dl>
                        <dd>恋爱宣言：您在，我也在！曾在网络！</dd>
                        <dd>主页：http://i.cengzai/foolin</dd>
                    </dl>
                </div>
            </div>
        </div>
        </div>
        
        <div class="mainContainer">
        <div class="mainInner">
        
        	<h3>
            <ul>
            	<li>好友动态</li>
                <li>说心事</li>
                <li>问答</li>
                <li>寻求交往</li>
                <li>表白交往</li>
            </ul>
            
            新鲜事 求助  问答  交往 表白    </h3>
        
        	自由自在
            孤独无恋
            静静等待
            苦苦寻你
            情窦初开
            默默暗恋
            思思好感
            一见钟情
            甜蜜邂逅
            缠缠绵绵
            滋滋热恋
            流连忘返
            迷失自我
            虽苦有乐
            翻炒翻炒
            呼吸的痛
            伤痕累累
            一丝偶连
            伤心欲绝
            一刀两断
            自立自强
            记得忘记
            阿弥陀佛
            静心休养
            心无牵挂
            破镜重圆
            喜结连理
            家大欢喜
            天长地久
            百年好合
            白头偕老
            
        </div>
        </div>
        <div class="clear">
        </div>

<!--{template "home_footer"}-->