	<!-- main end -->
    </div>
</div>


<div class="footer">
	<div class="inner">
		<p>Copyright &copy; 2011 <a target="_blank" href="http://www.tencent.com/zh-cn/le/copyrightstatement.shtml">CengZai.com</a>. All Rights Reserved. <a target="_blank" href="http://www.tencent.com/zh-cn/le/copyrightstatement.shtml">曾在网</a> 版权所有 <a class="clink" target="new" href="http://www.qq.com/culture.shtml">粤xxxx号</a></p>
	</div>
</div>
<!-- @success@ -->
</div>
<!-- end of wrapper -->
</body>
</html>
