<!--{template "home_header"}-->

		<div class="mainSider">
        <div class="mainInner">
            <div class="my">
            	<span class="myImg">
                	<a href="#"><img src="images/nopic.jpg" width="80" border="0" /></a>
                </span>
                <span class="myInfo">
                	<dl>
                    	<dt>刘付灵</dt>
                        <dd><b>好友</b>：2200</dd>
                        <dd><b>等级</b>：寻你</dd>
                        <dd><b>恋爱</b>：我在静静等待</dd>
                    </dl>
                </span>
                <div class="clear"></div>
                <div class="detail">
                	<dl>
                        <dd>恋爱宣言：您在，我也在！曾在网络！</dd>
                        <dd>主页：http://i.cengzai/foolin</dd>
                    </dl>
                </div>
            </div>
        </div>
        </div>
        
        <div class="mainContainer">
        <div class="mainInner">
        
        	<div class="mainContainerCenter">
            
                <div class="divPostMood">
                    <div class="divTextMood">
                     <textarea name="txtMood" id="txtMood"></textarea>
                    </div>
                    <div class="divBtnMood">
                    你还可以输入140个字符 <input type="button" name="btnMood" class="btn" value="发表心情" />					<div class="clear"></div>
                    </div>
                </div>
                
                <div class="listMood">
                	<div class="mood">
                    	<div class="title">
                        刘付灵 发表 我爱你才怪
                        </div>
                        <div class="content">
                        	这是才怪哦，爱你才怪哦。
                        </div>
                        <div class="ctrl">
                        回复
                        </div>
                    </div>
                </div>
            
            </div>
            <!--mainContainerCenter-->
        	<div class="mainContainerSider">
            	<h3>签到</h3>2030天
            </div>
            <!--mainContainerSider-->
			<div class="clear"></div>
            
        </div>
        </div>
        <div class="clear">
        </div>

<!--{template "home_footer"}-->