/****************************
    @Desc       :  Css style
    @Author     :  Foolin
    @Email      :  Foolin@126.com
    @Created on :  2010-12-2
    Copyright 2010 7dong.net All Rights Reserved.
********************************************************/

body {
	font: 14px Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	line-height:1.5em;
	
}

/**** »ù´¡Ïî ****/
a{ color:#06F; text-decoration:none;}
a:hover{ color:#F00; text-decoration:none;}
.clear{ clear:both;}
.txtL{ text-align:left;}
.txtR{ text-align:right;}

.form{
	font-size:14px;
}
.form dt, .form dd{
	margin:0;
	padding:3px 5px;
	line-height:25px;
}
.form dt{ margin-top:5px;}
.form td
    {
    	padding:5px;
    }
.form .input{
	    border:#CCC dashed 1px;
	    font-family:Tahoma, Geneva, sans-serif;
	    font-size:15px;
	    font-weight:bold;
	    height:25px;
	    line-height:25px;
	    color:#090;
	    padding:2px 5px;
	    background:#faffbd;
}
.form .btn{
	line-height:22px;
	padding:3px 10px;
	height:40px;
	width:100px;
	font-size:14px;
}



/************* Ê×Ò³ ************/
#desktop{
	height:100%;width:100%;overflow:hidden;border:none;
	background: #09368b url(../images/win7-desktop-bg.jpg);
}

#topBar{
	padding:0;
	margin:0 auto;
	height:60px;
	line-height:60px;
	background:#444;
	overflow:hidden;
	
}

#topBar .topCenter{
	padding:0;
	margin:0 auto;
	width:1000px;
	background:#333;
	line-height:60px;
	height:60px;
}
#logo{
	float:left;
	margin:0;
	padding-left:20px;
	padding-right:20px;
	padding-top:6px;	/* Firefox/Chrome */
	*padding-top:2px;	/* IE7 */
}

#logo img{
}

#nav{
	float:left;
}

#nav ul{
	list-style:none;
	padding:0;
	margin:0;
	display:block;
}
#nav ul li{
	padding:0;
	margin:0;
	padding-top:2px;
	float:left;
	text-align:center;
	display:block;
	width:50px;
	height:60px;
}
#nav ul li{
	 padding:7px 5px;	/* Firefox/Chrome */
	 *padding:0px 5px;	/* IE7 */
}
#nav ul li a{
	text-decoration:none;
}
#nav ul li img{
	width:40px;
	height:40px;
	border:0;
}
#nav ul li a:hover img{
	border:solid 3px #999;
	background:#666;
}
#nav ul li.txt{
	width:auto;
	padding:0;
	padding-top:11px;
	*padding-top:0px;	/* IE7 */
}
#nav ul li.txt a{
	padding-left:5px;
	padding-right:5px;
	height:30px;
	line-height:30px;
	border:0;
	display:inline-block;
	color:#FFF;
	font-size:14px;
	font-weight:bold;
	border:solid 3px #333;
}
#nav ul li.txt a:hover{
	border:solid 3px #999;
	background:#666;
}


/*body{
	font-size:12px;
	margin:0 auto;
}*/

.thumbURL{
	width:1000px;
	margin:0px auto;
}

.thumbURL .item
{
	float:left;
	width:188px;
	height:148px;
	margin:10px;
	padding:0;
	overflow:hidden;
}

.thumbURL dl
{
	margin:0;
	padding:0;
	overflow:hidden;
	width:180px;
	height:120px;
	border:solid 4px #C6EBEE;
	background:#FFF;
}


/* bak 2010-12-31
.thumbURL dl{
	float:left;
	margin:10px;
	overflow:hidden;
	width:180px;
	height:120px;
	border:solid 4px #C6EBEE;
	background:#FFF;
}
*/
.thumbURL dl.on
{
	overflow:hidden;
	width:180px;
	height:140px;
	border:solid 4px #53A9FF;
	color:#F00;
}
.thumbURL dl.over{
	border:solid 4px #C60;
	color:#F00;
/*	background:#06F;
	color:#FFF;*/
}
.thumbURL dl dd{
	margin:0px;
	width:100%;
	text-align:center;
}
.thumbURL dl dd img{
	width:160px;
	height:90px;
}
.thumbURL dl dd a img{
	border:solid 2px #FFF;
}
.thumbURL dl dd a:hover img{
	border:solid 2px #F00;
}
.thumbURL dl dt,.thumbURL .title{
	text-align:center;
	font-size:14px;
	line-height:22px;
	height:22px;
	margin:0px;
}
.thumbURL .url{
	line-height:20px;
	height:20px;
}

.thumbURL .url a
{
	color:#06F;
}
.thumbURL .url a:hover{
	color:#F00
}

/************ icoURL *******/
.icoURL 
{
	text-align:center;
	width:1000px;
	margin:0px auto;
}

.icoURL img
{
	margin:0 auto;
	padding:0;
	border:0;
	width:50px;
	height:50px;
}

.icoURL a
{
/*	border:2px;*/
	padding:5px;
	display:block;
	width:70px;
	height:70px;
	overflow:hidden;
	float:left;
	margin:5px;
	text-decoration:none;
	color:#090;
}
.icoURL a:hover{
	padding:5px;
	background:#a9dff8;
	/*border:solid 2px #9be2f8;*/
	text-decoration:none;
}
.icoURL div{
	font-size:13px;
	font-family:"Times New Roman", Times, serif;
	font-weight:bold;
}


#window{
	background:#FFF;
}
#window #winLoading{
	padding-left:20px;
	padding-top:20px;
	font-size:12px;
	font-weight:bold;
	text-indent:2em;
	color:#F00;
}
#window #winLoading img{
	margin-top:6px;
	padding-right:5px;
}

#messager{
	display:none;
	background:#FFF;
}